<!DOCTYPE html>

<div class="container">
  <% prodata.forEach(function (item, index) { %>
  <div style="float: none; margin:100 auto;" class="row">
    <div class="col-6" >
      <div class="card" style="height:500px;">
        <div class="card-header">
          상품 이미지
        </div> 
        <img class="card-img-top" src="<%= item.product_imgpath %>" alt="" />
      </div>
      
    </div>
    <div class="col-6">
      <div class="card" style="height:500px; ">
        <div class="card-header">
          상세정보및 구매하기
        </div>
        <div class="card-body" >
          <h5 class="card-title"><%=item.product_name%></h5></br>
          <h7 class="card-title">모델명 : <%=item.product_modelname%></h7></br>
          <h7 class="card-title">회사명 : <%=item.product_company%></h7><br>
          <h7 class="card-title">가격 : <%=item.product_price%></h7>
          <p style = 'margin:20px 20px;' class="card-text"><%=item.product_description%>
          </p>
          <div style="align-self: center;">
          <textarea class="form-control col-6" rows="1">현재 마일리지 : <%=item.product_price%></textarea>
          <textarea class="form-control col-6" rows="1">구매 후 마일리지 : <%=item.product_price%></textarea>
          </div>
          <a href="/" class="btn btn-primary">구매하기</a>
        </div>
      </div>
    </div>
  </div>
  <% }); %>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>





