<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/admin_banner.png" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">쇼핑몰</a></li>
            <li class="breadcrumb-item">관리자</a></li>
            <li class="breadcrumb-item active" aria-current="page">구매자관리</li>
          </ol>
        </nav>
   	  </div>

       <div class="dropdown">

        <button class="btn  btn-dark  dropdown-toggle float-right" data-toggle="dropdown">
          이름순 정렬
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/adminprod/ulist/?sort=namesort">이름순 정렬</a>
          <a class="dropdown-item" href="/adminprod/ulist/?sort=salessort">매출순 정렬</a>
        </div>
      </div>

       <form action="/adminprod/ulist" method="get">
        <select id="browsers" name="sort">
          <option value="up">올림차순</option>
          <option value="down">내림차순</option>
      </select>
      <input type="text" placeholder="검색어 입력" name="keyword">
      <input type="submit" value="검색">
    </form>
   </div>

      <hr>
      <div class="container">
        <a class="btn btn-primary" id = "putu" href="/adminprod/ulist">±회원수정및 삭제</a>
          <table class="table table-striped" id = "user_table">
            <thead>
              <tr>
                <th> 아이디 </th>
                <th> 비밀번호 </th>
                <th> 이름 </th>
                <th> 핸드폰 </th>
                <th> 주소 </th>
                <th> 포인트 </th>
                <th> 총 구매금액 </th>
              </tr>
            </thead>
            <tbody id = "user_tbody">
               <% prodata.forEach(function (item, index) { %>
              <tr>
                <td><%=item.user_id%></td>
                <td> ******** </td>
                <td><%=item.user_name%></td>
                <td><%=item.user_phonenum%></td>
                <td><%=item.user_address%></td>
                <td><%=item.user_mileage%></td>
                <td><%=item.sum%></td>
              </tr>
              <% }); %>
            </table>
          </div>

          <script>
            // 테이블의 Row 클릭시 값 가져오기
            $("#user_tbody tr").click(function(){ 	
          
        // 현재 클릭된 Row(<tr>)
        var tr = $(this);
        var td = tr.children();

        $("#user_tbody tr").not(this).removeClass("table table-striped table-bordered table-dark");
        $(this).addClass("table table-striped table-bordered table-dark");

        var selecteduser = td.eq(0).text();
        $("#putu").attr("href", "/adminprod/putuserform/?userid='"+ selecteduser +"'");
        });
          </script>

  <p>
    <nav aria-label="...">
      <ul class="pagination justify-content-center">

        <% var a=1; if(page==1){%>
          <!--페이지 1일때 뒤로 넘어가 0 되는일 방지-->
          <li class="page-item">
            <% if(sort !=null) {%>
              <!--sort있을때 Previous하이퍼링크-->
              <a class="page-link" href="/adminprod/ulist?sort=<%= sort %>&keyword=<%= key %>&page=<%= a %>">Previous</a>
              <% }if(sort==null) {%>
                <!--카테고리검색일때 Previous하이퍼링크-->
                <a class="page-link" href="/adminprod/ulist?page=<%= a %>">Previous</a>
                <% }} %>
                  <% if(page !=1) {%>
                    <!--뒤로가는 버튼-->
                    <% if(sort !=null) {%>
                      <!--sort있을때 Previous하이퍼링크-->
                      <a class="page-link"
                        href="/adminprod/ulist?sort=<%= sort %>&keyword=<%= key %>&page=<%= page-1 %>">Previous</a>
                      <% }if(sort==null) {%>
                        <!--카테고리검색일때 Previous하이퍼링크-->
                        <a class="page-link" href="/adminprod/ulist?page=<%= page-1 %>">Previous</a>
                        <% }} %>
          </li>

          <!--페이지네이션-->
          <% for(var i=1; i <=total_page; i++){ %>
            <% if(sort !=null) {%>
              <!--sort있을때-->
              <% if(page==i){ %>
                <!--현재페이지에 active효과 추가-->
                <li class="page-item active" aria-current="page"><a class="page-link"
                    href="/adminprod/ulist?sort=<%= sort %>&keyword=<%= key %>&page=<%= i %>">
                    <%= i %>
                  </a></li>
                <% }else {%>
                  <li class="page-item"><a class="page-link"
                      href="/adminprod/ulist?sort=<%= sort %>&keyword=<%= key %>&page=<%= i %>">
                      <%= i %>
                    </a></li>

                  <% }} else if(sort==null) {%>
                    <!--sort없을때-->
                    <% if(page==i){ %>
                      <!--현재페이지에 active효과 추가-->
                      <li class="page-item active" aria-current="page"><a class="page-link"
                          href="/adminprod/ulist?page=<%= i %>">
                          <%= i %>
                        </a></li>
                      <% }else {%>
                        <li class="page-item"><a class="page-link" href="/adminprod/ulist?page=<%= i %>">
                            <%= i %>
                          </a></li>
                        <% }}} %>

                          <li class="page-item">
                            <% if(page==total_page) page-- %>
                              <!--마지막페이지에서next안넘어감-->
                              <% if(sort !=null) {%>
                                <!--sort있을때 next하이퍼링크-->
                                <a class="page-link"
                                  href="/adminprod/ulist?sort=<%= sort %>&keyword=<%= key %>&page=<%= 1*page+1 %>">Next</a>
                                <% }if(sort==null) {%>
                                  <!--sort없을때 next하이퍼링크-->
                                  <a class="page-link" href="/adminprod/ulist?page=<%= (1*page)+1 %>">Next</a>
                                  <% } %>
                          </li>

      </ul>
    </nav>